
{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
            "ecmaVersion": 2020,  // or higher
            "sourceType": "module",  // essential for using import/export statements
            "requireConfigFile": true
        },
      "rules": {
          "indent": [2, 4],
          "linebreak-style": [2, "unix"],
          "semi": [2, "always"],
          "no-multiple-empty-lines": [2, {"max": 1, "maxEOF": 0, "maxBOF": 0}]
      },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true
    },
    "plugins": [
         "jsx-a11y"
    ],
    "extends": [
         "eslint:recommended",
        "plugin:jsx-a11y/recommended"
    ]
}
